<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<img style='width:48px;height:48px;margin-right:16px' src="https://user-images.githubusercontent.com/12424618/54043975-b6cdb800-4182-11e9-83bd-0cd2eb757c6e.png"/>
	<a class="navbar-brand" href="/">Cryptocurrency Market summary- Binance</a>
	<ul class="navbar-nav mr-auto">
	</ul>
</nav>